webcam:

server:
  commands:
    systemShutdownCommand: sudo shutdown -h now
    systemRestartCommand: sudo shutdown -r now
    serverRestartCommand: sudo service octoprint restart

# https://docs.octoprint.org/en/master/configuration/config_yaml.html?highlight=logs#config-yaml
folder:
  logs: {{ octoprint_log_dir }}
  watched: {{ octoprint_watched_dir }}
