worker_processes auto;
http {
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;
    server {
        listen 443;
        server_name octoprint.$hostname;
        ssl on;
        ssl_certificate     {{ printnanny_ssl_cert }};
        ssl_certificate_key {{ printnanny_ssl_key }};
        ssl_protocols       {{ printnanny_ssl_protocols }};
        ssl_ciphers         {{ printnanny_ssl_ciphers }}
        location / {

        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;
        proxy_pass          http://localhost:{{ printnanny_www_port }};
        proxy_read_timeout  90;
        proxy_redirect      http://localhost:{{ printnanny_www_port }} https://octoprint.$hostname;
        }
    }

    server {
        listen 80;
        return 301 https://$host$request_uri;
    }
}