# {{ ansible_managed }}
[Unit]
Description=OctoPrint - The snappy web interface for your 3D printer
After=network.online.target
Wants=network.online.target
PartOf=printnanny.target

[Service]
SyslogIdentifier=octoprint
Type=simple
User={{ octoprint_user }}
RuntimeDirectory=octoprint
ExecStart={{ octoprint_venv }}/bin/octoprint serve --host={{ octoprint_host }} --port={{ octoprint_port }}

[Install]
WantedBy=multi-user.target