# {{ ansible_managed }}
[Unit]
Description=OctoPrint - The snappy web interface for your 3D printer
After=network.online.target
Wants=network.online.target

[Service]
Type=simple
Environment="OCTOPRINT_HOST=0.0.0.0"
Environment="OCTOPRINT_PORT=5000"
User={{ octoprint_user }}
ExecStart={{ octoprint_venv }}/bin/octoprint serve --host=${OCTOPRINT_HOST} --port=${OCTOPRINT_PORT}

[Install]
WantedBy=multi-user.target