# {{ ansible_managed }}
[Unit]
Description=Ansible Pull for {{ item.name }}
Wants={{ item.name }}.timer

[Service]
ExecStart={{ ansible_env.HOME }}/venv/ansible/bin/ansible-pull \
    -i {{ ansible_env.HOME }}/.ansible/hosts \
    -C {{ item.checkout }} \
    -U {{ item.url }} \
    {{ item.playbook }}

Slice=ansible_pull.slice

[Install]
WantedBy=multi-user.target