# {{ ansible_managed }}
[Unit]
Description=Run ansible-pull against {{ item.src }}
Requires={{ item.name }}.service
[Timer]
Unit={{ item.name }}.service
{% if item.timer.OnStartupSec %} 
OnStartupSec={{ item.timer.OnStartupSec }}
{% endif %}
{% if item.timer.RandomizedDelaySec %}
RandomizedDelaySec={{ item.timer.RandomizedDelaySec }}
{% endif %}
{% if item.timer.OnUnitInactiveSec %}
OnUnitInactiveSec={{ item.timer.OnUnitInactiveSec }}
{% endif %}
AccuracySec=1s
[Install]
WantedBy=timers.target