[default]
address = "{{ printnanny_www_address }}"
port = {{ printnanny_www_port }}
template_dir = "{{ printnanny_www_templates_dir }}"
log_level = "{{ printnanny_www_log_level }}"
secret_key = "{{ printnanny_www_secret_key }}"
workers = 4

[debug]
log_level = "debug"
