profile = "{{ printnanny_profile }}"
firstboot_file = "{{ printnanny_firstboot_toml }}"
install_dir = "{{ printnanny_profile_dir }}"
runtime_dir = "{{ printnanny_runtime_dir }}"
events_socket = "{{ printnanny_runtime_dir }}/events.sock"
edition = "{{ printnanny_edition }}"

[ansible]
venv_dir = "{{ printnanny_ansible_dir }}/venv"
collection_name = "bitsyai.printnanny"
collection_version = "{{ printnanny_collection_version }}"

[api]
base_path = "{{ printnanny_api_url }}"

[cmd]
queue_dir = "{{ printnanny_cmd_queue_dir }}"
success_dir = "{{ printnanny_cmd_success_dir }}"
error_dir = "{{ printnanny_cmd_error_dir }}"

[octoprint_install_request]
device = 0
octoprint_version = "{{ octoprint_git_version }}"
pip_version = "{{ octoprint_pip_version }}"
python_version = "{{ octoprint_python_version }}"
printnanny_plugin_version = "{{ octoprint_printnanny_plugin_version }}"

{% if janus_edge_enabled %}
[janus_edge_request]
device = 0
api_domain = "{{ janus_edge_api_domain }}"
rtp_domain = "{{ janus_edge_api_domain }}"
admin_port = {{ janus_conf['janus.transport.http'].admin_http_port }}
admin_url = "http://{{ janus_edge_api_domain }}:{{ janus_conf['janus.transport.http'].admin_http_port }}{{ janus_conf['janus.transport.http'].admin_base_path }}"
api_port = {{ janus_conf['janus.transport.http'].http_port }}
api_url = "http://{{ janus_edge_api_domain }}:{{ janus_conf['janus.transport.http'].http_port}}{{ janus_conf['janus.transport.http'].base_path }}"
websocket_url = "ws://{{ janus_edge_api_domain }}:{{ janus_conf['janus.transport.websockets'].ws_port }}"
ws_port = {{ janus_conf['janus.transport.websockets'].ws_port }}
config_type = "edge"
active = false
secret = "{{ janus_edge_streaming_secret }}"
pin = "{{ janus_edge_streaming_pin }}"
info = {}
rtp_port = {{ janus_edge_rtp_port }}

[janus_edge_request.auth]
api_token = "{{ lookup('password', janus_edge_token_file, length=32 ) }}"
admin_secret = "{{ lookup('password', janus_edge_admin_secret_file, length=32 ) }}"
config_type = "edge"
user = 0
{% endif %}

[mqtt]
private_key = "{{ printnanny_ec_private_key }}"
public_key = "{{ printnanny_ec_public_key }}"
ca_certs = [
    "{{ printnanny_cacerts }}/{{ gcp_lts_ca_primary | basename }}",
    "{{ printnanny_cacerts }}/{{ gcp_lts_ca_backup | basename }}"
]
fingerprint = "{{ lookup('file', printnanny_ec_fingerprint_md5) }}"
fingerprint_algorithm = "md5"
cipher = "secp256r1"
length = 4096
