#!/usr/bin/env bash

echo "Writing printnanny-update.service logs to {{ printnanny_update_log }}"
journalctl -u printnanny-update > {{ printnanny_update_log }}

echo "Writing printnanny-monitor.service logs to {{ printnanny_cam_log }}"
journalctl -u printnanny-monitor.service > {{ printnanny_cam_log }}

echo "Writing printnanny-monitor.service logs to {{ printnanny_www_log }}"
journalctl -u printnanny-dash.service > {{ printnanny_www_log }}

echo "Writing printnanny-mqtt.service logs to {{ printnanny_www_log }}"
journalctl -u printnanny-mqtt.service > {{ printnanny_mqtt_log }}

