PRETTY_NAME="PrintNanny GNU/Linux {{ printnanny_os_major_version }} ({{  ansible_distribution_release }})"
NAME="PrintNanny GNU/Linux"
VERSION_ID="{{ printnanny_os_major_version  }}"
VERSION="{{ printnanny_os_version }}"
VERSION_CODENAME={{ ansible_distribution_release }}
ID=printnanny
HOME_URL="https://printnanny.ai/"
