#!/usr/bin/env bash

set -x

{{ updater_venv }}/bin/ansible printnanny \
    -m ansible.builtin.set_fact -a "printnanny_release_channel=$1 cacheable=true"

systemctl restart --no-block printnanny-firstboot
systemctl restart --no-block printnanny-update
journalctl -u printnanny-firstboot -u printnanny-update --follow --no-pager
