# {{ ansible_managed }}
[Unit]
Description=Install latest {{ updater_collection }} Ansible Collection
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
RuntimeDirectory={{ updater_user }}
ExecStart={{ updater_venv }}/bin/ansible-galaxy \
    collection install --upgrade {{ updater_collection_url }}

Restart=on-failure

[Install]
WantedBy=multi-user.target