# {{ ansible_managed }}
[defaults]
ansible_connection=local
ansible_python_intepreter=/home/{{ updater_user }}/bin/python
ansible_user={{ updater_user }}
fact_caching_connection={{ ansible_config.fact_caching_connection }}
fact_caching_timeout={{ ansible_config.fact_caching_timeout }}
fact_caching={{ ansible_config.fact_caching }}
gathering=smart
no_target_syslog=False

[inventory]
enable_plugins = yaml, ini