# {{ ansible_managed }}
[Unit]
Description=Install latest {{ updater_collection }} Ansible Collection
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RuntimeDirectory={{ updater_user }}
StandardOutput=journal+inherit
StandardError=journal+inherit
User={{ updater_user }}
ExecStart={{ updater_venv }}/bin/ansible-galaxy \
    collection install --upgrade {{ updater_collection_url }}
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target