# {{ ansible_managed }}
[Unit]
Description=Bitsy Automatic Updater
After={{ ansible_collection_updater }}.service
Requires={{ ansible_collection_updater }}.service
Wants=network-online.target
After=network-online.target
Wants={{ auto_update_service }}.timer
{% if updater_service_unit_extra is defined %}
{{ updater_service_unit_extra }}
{% endif %}

[Service]
Type=oneshot
RuntimeDirectory={{ updater_app_name }}
ConfigurationDirectory={{ updater_app_name }}
User={{ updater_user }}
ExecStart=/usr/bin/flock -F {{ ansible_lockfile }} \
    {{ updater_venv }}/bin/ansible-playbook \
    {{ auto_update_playbook }}

ExecStartPost=-/usr/bin/flock -F {{ ansible_lockfile }} \
    /usr/bin/rm {{ ansible_lockfile }}

Restart=on-failure
RestartSec=600

[Install]
WantedBy=multi-user.target