# {{ ansible_managed }}
[Unit]
Description=Updater timer
[Timer]
Persistent=true
Unit={{ updater_auto_service }}.service
{% if updater_timer.OnStartupSec %} 
OnStartupSec={{ updater_timer.OnStartupSec }}
{% endif %}
{% if updater_timer.RandomizedDelaySec %}
RandomizedDelaySec={{ updater_timer.RandomizedDelaySec }}
{% endif %}
{% if updater_timer.OnUnitInactiveSec %}
OnUnitInactiveSec={{ updater_timer.OnUnitInactiveSec }}
{% endif %}
AccuracySec=1s
[Install]
WantedBy=timers.target