# {{ ansible_managed }}
[Unit]
Description=Execite ansible from {{ updater.src }}
Requires={{ updater.name }}.service
[Timer]
Unit={{ updater.name }}.service
{% if updater.timer.OnStartupSec %} 
OnStartupSec={{ updater.timer.OnStartupSec }}
{% endif %}
{% if updater.timer.RandomizedDelaySec %}
RandomizedDelaySec={{ updater.timer.RandomizedDelaySec }}
{% endif %}
{% if updater.timer.OnUnitInactiveSec %}
OnUnitInactiveSec={{ updater.timer.OnUnitInactiveSec }}
{% endif %}
AccuracySec=1s
[Install]
WantedBy=timers.target