# {{ ansible_managed }}
[Unit]
Description=Bitsy Updater {{ item.src }}
Wants={{ item.name }}.timer

[Service]
ExecStartPre={{ updater.ansible_venv }}/bin/ansible-galaxy \
    collection install \
    {{ item.url }}

ExecStart={{ updater.ansible_venv }}/bin/ansible-playbook \
    {{ item.src }}

Slice=updater.slice

[Install]
WantedBy=multi-user.target