# {{ ansible_managed }}
[Unit]
Description=Bitsy Automatic Updater
Wants=network-online.target
After=network-online.target
Wants={{ updater.name }}.timer

[Service]
Type=simple
ExecStartPre=mkdir -p {{ updater.ansible_tmpfs }}
Environment="PATH={{ updater.ansible_venv }}/bin:{{ ansible_env.PATH }}"
ExecStartPre={{ updater.ansible_venv }}/bin/ansible-galaxy \
    collection install -r {{ updater.ansible_requirements }}

ExecStart=/usr/bin/flock -F {{ updater.ansible_lockfile }} \
    {{ updater.ansible_venv }}/bin/ansible-playbook \
    {{ updater_collection.src }}

ExecStartPost=-/usr/bin/flock -F /path/to/lock.file \
    /usr/bin/rm {{ updater.ansible_lockfile }}

Restart=on-failure
RestartSec=600
Slice={{ updater.name }}.slice

[Install]
WantedBy=multi-user.target