# {{ ansible_managed }}
[Unit]
Description=Bitsy Requirements Updater
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=mkdir -p {{ updater.ansible_tmpfs }}
Environment="PATH={{ updater.ansible_venv }}/bin:{{ ansible_env.PATH }}"
ExecStart={{ updater.ansible_venv }}/bin/ansible-galaxy \
    collection install -r {{ updater.ansible_requirements_file }}

ExecStart=/usr/bin/flock -F {{ updater.ansible_lockfile }} \
    {{ updater.ansible_venv }}/bin/ansible-playbook \
    {{ updater.playbook }}

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target