# {{ ansible_managed }}
[Unit]
Description=Bitsy Automatic Updater
After={{ updater.requirements_service}}.service
Requires={{ updater.requirements_service }}.service
Wants=network-online.target
After=network-online.target
Wants={{ updater.service_name }}.timer

[Service]
Type=oneshot
ExecStartPre=mkdir -p {{ updater.ansible_tmpfs }}
Environment="PATH={{ updater.ansible_venv }}/bin:{{ ansible_env.PATH }}"

ExecStart=/usr/bin/flock -F {{ updater.ansible_lockfile }} \
    {{ updater.ansible_venv }}/bin/ansible-playbook \
    {{ updater.playbook }} --tags "automatic_updates"

ExecStartPost=-/usr/bin/flock -F {{ updater.ansible_lockfile }} \
    /usr/bin/rm {{ updater.ansible_lockfile }}

Restart=on-failure
RestartSec=600
Slice={{ updater.service_name }}.slice

[Install]
WantedBy=multi-user.target