# {{ ansible_managed }}
[Unit]
Description=Bitsy Automatic Updater
Wants=network-online.target
After=network-online.target
Wants={{ updater.name }}.timer

[Service]
Type=simple
Environment="PATH={{ updater.ansible_venv }}/bin:{{ ansible_env.PATH }}"
{% for item in updater.collections %}
ExecStartPre={{ updater.ansible_venv }}/bin/ansible-galaxy \
    collection install {{ item.url }}
{% endfor %}

{% for item in updater.collections %}
ExecStart=/usr/bin/flock -F {{ updater.ansible_lockfile }} \
    {{ updater.ansible_venv }}/bin/ansible-playbook \
    {{ item.src }}
{% endfor %}

ExecStartPost=-/usr/bin/flock -F /path/to/lock.file \
    /usr/bin/rm {{ updater.ansible_lockfile }}

Restart=on-failure

Slice={{ updater.name }}.slice

[Install]
WantedBy=multi-user.target