# {{ ansible_managed }}
[Unit]
Description={{ updater.service_name }} timer
Requires={{ updater.service_name }}.service
[Timer]
Persistent=true
Unit={{ updater.service_name }}.service
{% if updater.timer.OnStartupSec %} 
OnStartupSec={{ updater.timer.OnStartupSec }}
{% endif %}
{% if updater.timer.RandomizedDelaySec %}
RandomizedDelaySec={{ updater.timer.RandomizedDelaySec }}
{% endif %}
{% if updater.timer.OnUnitInactiveSec %}
OnUnitInactiveSec={{ updater.timer.OnUnitInactiveSec }}
{% endif %}
AccuracySec=1s
[Install]
WantedBy=timers.target