# {{ ansible_managed }}
[Unit]
Description={{ item.name }}
After={{ ansible_collection_updater }}.service
Requires={{ ansible_collection_updater }}.service
Wants=network-online.target
After=network-online.target
{% if item.timer is defined %}
Wants={{ item.name }}.timer
{% endif %}

[Service]
Type=oneshot
RuntimeDirectory={{ item.app_name }}
ConfigurationDirectory={{ item.app_name }}
User={{ item.user }}

{% for playbook in item.playbooks %}
ExecStart=/usr/bin/flock -F {{ ansible_lockfile }} \
    {{ updater_venv }}/bin/ansible-playbook \
    {{ playbook }}
{% endfor %}

ExecStartPost=-/usr/bin/flock -F {{ ansible_lockfile }} \
    /usr/bin/rm {{ ansible_lockfile }}

Restart=on-failure

[Install]
WantedBy=multi-user.target