# {{ ansible_managed }}
[Unit]
Description={{ item.name }}
After={{ ansible_collection_updater }}.service network-online.target
Wants={{ ansible_collection_updater }}.service network-online.target

[Service]
Type=oneshot
RuntimeDirectory={{ item.app_name }}
ConfigurationDirectory={{ item.app_name }}

{% for playbook in item.playbooks %}
ExecStart=/usr/bin/flock -F {{ ansible_lockfile }} \
    {{ updater_venv }}/bin/ansible-playbook \
    {{ playbook }}
{% endfor %}

ExecStartPost=-/usr/bin/flock -F {{ ansible_lockfile }} \
    /usr/bin/rm {{ ansible_lockfile }}
[Install]
WantedBy=multi-user.target