# {{ ansible_managed }}
[Unit]
Description={{ item.name }} timer
Requires={{item.name}}.service
[Timer]
Persistent=true
{{ item.timer }}
RandomizedDelaySec=600
AccuracySec=1s
[Install]
WantedBy=timers.target