# {{ ansible_managed }}
[Unit]
Description={{ item.name }} timer
[Timer]
Persistent=true
Unit={{item.name}}.service
{{ item.timer }}
RandomizedDelaySec=600
AccuracySec=1s
[Install]
WantedBy=timers.target