[Unit]
Description=Journal log vacuum service
Wants=log-vacuum.timer

[Timer]
Type=oneshot
ExecStart=/usr/bin/journalctl --vacuum-time={{ rpi_log_vacuum.VacuumTime }}
RemainAfterExit=yes

[Install]
WantedBy=timers.target