[Unit]
Description=Execute Ansible playbook to handle remote command
After=network.target network-online.target printnanny-ansible-collection.service printnanny-firstboot.service printnanny-firstboot.service.service
Wants=network.target network-online.target printnanny-ansible-collection.service printnanny-firstboot.service printnanny-firstboot.service.service
PartOf=printnanny.target

[Service]
Type=simple
SyslogIdentifier=printnanny-cmd
RuntimeDirectory={{ printnanny_user }}
RuntimeDirectoryPreserve=yes
ConfigurationDirectory={{ printnanny_user }}
EnvironmentFile=-{{ printnanny_env }}
User={{ printnanny_user }}
ExecStart={{ updater_venv }}/bin/ansible-playbook \
    {% if printnanny_loglevel == 'info' %}
    -vv \
    {% elif printnanny_loglevel == 'debug' %}
    -vvv \
    {% else %}
    -v \
    {% endif %}
    bitsyai.printnanny.cmd.queued \
     --tags "cmd"
Restart=on-failure
RestartSec=10
[Install]
WantedBy=multi-user.target
