[Unit]
Description=Install PrintNanny Ansible Collection
After=network.target network-online.target
Wants=network.target network-online.target

[Service]
Type=oneshot
SyslogIdentifier=printnanny-ansible-collection
RuntimeDirectory={{ printnanny_user }}
RuntimeDirectoryPreserve=yes
ConfigurationDirectory={{ printnanny_user }}
ExecStart=/usr/bin/flock --verbose -n {{ ansible_lockfile }} \
    {{ updater_venv }}/bin/ansible-galaxy \
    collection install --upgrade {{ updater_collection_url }},${PRINTNANNY_RELEASE_CHANNEL} \
    --collections-path {{ printnanny_ansible_dir }}
ExecStart=rm -f {{ ansible_lockfile }}
Restart=on-failure
RestartSec=10
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
