[Unit]
Description="Watch {{ printnanny_data_dir }}, starts printnanny-config-watcher.service"

[Path]
PathChanged={{ printnanny_data_dir }}
Unit=printnanny-config-watcher.service


[Install]
WantedBy=multi-user.target