[Unit]
Description=PrintNanny Dashboard
After=network.target network-online.target {{ printnanny_setup_target }}
Wants=network.target network-online.target {{ printnanny_setup_target }}
PartOf={{ printnanny_target }}
ReloadPropagatedFrom={{ printnanny_target }}

[Service]
Type=simple
SyslogIdentifier=printnanny-www
EnvironmentFile=-{{ printnanny_env }}
WorkingDirectory={{ printnanny_www_dir }}
ExecStart=/usr/local/bin/printnanny-dash
User={{ printnanny_user }}
Restart=on-failure
RestartSec={{ printnanny_systemd_restart_sec }}

[Install]
WantedBy=multi-user.target {{ printnanny_target }}
