[Unit]
Description=PrintNanny MQTT Client
After=network.target network-online.target {{ printnanny_setup_target }}
Wants=network.target network-online.target {{ printnanny_setup_target }}
PartOf={{ printnanny_target }}
ReloadPropagatedFrom={{ printnanny_target }}

[Service]
Type=simple
SyslogIdentifier=printnanny-mqtt
RuntimeDirectory={{ printnanny_user }}
RuntimeDirectoryPreserve=yes
ConfigurationDirectory={{ printnanny_user }}
EnvironmentFile=-{{ printnanny_env }}
ExecStart=/usr/local/bin/printnanny -v event subscribe
User={{ printnanny_user }}
Restart=on-failure
RestartSec={{ printnanny_systemd_restart_sec }}

[Install]
WantedBy=multi-user.target {{ printnanny_target }}
