[Unit]
Description=PrintNanny MQTT Client
After=network.target network-online.target printnanny-firstboot.service printnanny-firstboot.service.service
Wants=network.target network-online.target printnanny-firstboot.service printnanny-firstboot.service.service
PartOf=printnanny.target


[Service]
Type=simple
SyslogIdentifier=printnanny-mqtt
RuntimeDirectory={{ printnanny_user }}
RuntimeDirectoryPreserve=yes
ConfigurationDirectory={{ printnanny_user }}
EnvironmentFile=-{{ printnanny_env }}
ExecStart=/usr/local/bin/printnanny -v event subscribe
User={{ printnanny_user }}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
