[Unit]
Description=Print Nanny MQTT Client
After=network.target network-online.target printnanny-metadata.service
Wants=network.target network-online.target printnanny-metadata.service
PartOf=printnanny.target


[Service]
Type=simple
SyslogIdentifier=printnanny-events
EnvironmentFile=-{{ printnanny_env }}
ExecStart=/usr/local/bin/printnanny -v event subscribe
User={{ printnanny_user }}

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
