[Unit]
Description=Print Nanny Dashboard
After=network.target network-online.target printnanny-metadata.service
Wants=network.target network-online.target printnanny-metadata.service
PartOf=printnanny.target

[Service]
Type=simple
SyslogIdentifier=printnanny-www
EnvironmentFile=-{{ printnanny_env }}
WorkingDirectory={{ printnanny_www_dir }}
ExecStart=/usr/local/bin/printnanny-dash
User={{ printnanny_user }}

{% if printnanny_www_log is defined %}
StandardOutput=file:{{ printnanny_www_log }}.stdout
StandardError=file:{{ printnanny_www_log }}.stderr
{% endif %}

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target