[Unit]
Description=Print Nanny Dashboard
After=syslog.target network.target network-online.target
Wants=syslog.target network.target network-online.target
PartOf=printnanny.target

[Service]
Type=simple
EnvironmentFile=-{{ printnanny_env }}
WorkingDirectory={{ printnanny_www_dir }}
ExecStart=/usr/local/bin/printnanny-dash
User={{ printnanny_user }}

Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target