[Unit]
Description=Print Nanny Dashboard
After=network.target network-online.target printnanny-metadata@www.service printnanny-metadata@env.service
Wants=network.target network-online.target printnanny-metadata@www.service printnanny-metadata@env.service
PartOf=printnanny.target

[Service]
Type=simple
EnvironmentFile=-{{ printnanny_env }}
WorkingDirectory={{ printnanny_www_dir }}
ExecStart=/usr/local/bin/printnanny-dash
User={{ printnanny_user }}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target