[Unit]
Description=Print Nanny MQTT Client
After=network.target network-online.target printnanny-metadata@mqtt.service printnanny-metadata@env.service
Wants=network.target network-online.target printnanny-metadata@mqtt.service printnanny-metadata@env.service
PartOf=printnanny.target


[Service]
Type=simple
SyslogIdentifier=printnanny-mqtt
EnvironmentFile=-{{ printnanny_env }}
ExecStart=/usr/local/bin/printnanny mqtt subscribe
User={{ printnanny_user }}

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target