[Unit]
Description=Print Nanny MQTT Client
After=network.target network-online.target printnanny-metadata.target
Wants=network.target network-online.target printnanny-metadata.target
PartOf=printnanny.target


[Service]
Type=simple
EnvironmentFile=-{{ printnanny_env }}
ExecStart=/usr/local/bin/printnanny mqtt subscribe
User={{ printnanny_user }}

Restart=on-failure
RestartSec=600

[Install]
WantedBy=multi-user.target