[Unit]
Description=Print Nanny Services
After=syslog.target network.target ansible-collection.service printnanny-update.target
Wants=syslog.target network.target ansible-collection.service printnanny-update.target

[Install]
WantedBy=multi-user.target