[Unit]
Description=Print Nanny Services
After=network.target network-online.target ansible-collection.service
Wants=network.target network-online.target ansible-collection.service

[Install]
WantedBy=multi-user.target