[Unit]
Description=Gstreamer RTP Camera Sink
After=network.online.target
Wants=network.online.target

[Service]
Type=simple
User={{ gstreamer_user }}
ExecStart=gst-launch-1.0 v4l2src num-buffers={{ gstreamer_num_buffers }} \
    ! h264parse \
    ! rtph264pay config-interval={{ gstreamer_config_interval }} pt=96 \
    ! udpsink host={{ gstreamer_rtp_host }} port={{ gstreamer_rtp_port }}
[Install]
WantedBy=multi-user.target