# {{ ansible_managed }}
{% if ara_plugin_setup.stdout is defined %}
{{ ara_plugin_setup.stdout }}
ansible_user={{ update_user }}
ansible_connection=local
ansible_python_intepreter={{updater_venv}}/bin/python3
collections_paths={{ printnanny_ansible_dir }}/collections:~/.ansible/collections:/usr/share/ansible/collections
fact_caching_connection={{ ansible_config.fact_caching_connection }}
fact_caching_timeout={{ ansible_config.fact_caching_timeout }}
fact_caching={{ ansible_config.fact_caching }}
no_target_syslog=False
pipelining=True
use_persistent_connections=True
[ara]
api_client = {{ ara_api_client }}
api_server = {{ ara_api_server }}
api_timeout = {{ ara_api_timeout }}
callback_threads = {{ ara_callback_threads }}
ignored_arguments = {{ ara_ignored_arguments }}
default_labels = {{ ara_default_labels }}
argument_labels = {{ ara_argument_labels }}

{% else %}
[defaults]
ansible_user={{ update_user }}
ansible_connection=local
ansible_python_intepreter={{updater_venv}}/bin/python3
collections_paths={{ printnanny_ansible_dir }}/collections:~/.ansible/collections:/usr/share/ansible/collections
fact_caching_connection={{ ansible_config.fact_caching_connection }}
fact_caching_timeout={{ ansible_config.fact_caching_timeout }}
fact_caching={{ ansible_config.fact_caching }}
no_target_syslog=False
pipelining=True
use_persistent_connections=True
{% endif %}

[inventory]
enable_plugins = yaml, ini
