# {{ ansible_managed }}
[Unit]
Description=Update Ansible Collection {{ updater_collection_url }}
After=network.target network-online.target
Wants=network.service network-online.target

[Service]
SyslogIdentifier=ansible-collection
Type=oneshot
RuntimeDirectoryPreserve=yes
RuntimeDirectory={{ updater_app_name }}
ConfigurationDirectory={{ updater_app_name }}
ExecStart=/usr/bin/flock -F {{ ansible_lockfile }} \
    {{ updater_venv }}/bin/ansible-galaxy \
    collection install --upgrade {{ updater_collection_url }}
ExecStartPost=-/usr/bin/flock -F {{ ansible_lockfile }} \
    /usr/bin/rm {{ ansible_lockfile }}
Restart=on-failure

[Install]
WantedBy=multi-user.target