# {{ ansible_managed }}
[Unit]
Description=Print Nanny Update Service
After=network.target network-online.target ansible-collection.service printnanny-metadata.target
Wants=network.target network-online.target ansible-collection.service printnanny-metadata.target

[Service]
SyslogIdentifier=printnanny-update
Type=oneshot
{% for playbook in updater_playbooks %}
ExecStart=/usr/bin/flock -F {{ ansible_lockfile }} \
    {{ updater_venv }}/bin/ansible-playbook \
    {% if printnanny_loglevel == 'info' %}
    -vv \
    {% elif printnanny_loglevel == 'debug' %}
    -vvv \
    {% else %}
    -v \
    {% endif %}
    {{ playbook }}
{% endfor %}
ExecStartPost=-/usr/bin/flock -F {{ ansible_lockfile }} \
    /usr/bin/rm {{ ansible_lockfile }}

[Install]
WantedBy=multi-user.target