name = "{{ printnanny_profile }}"
path = "{{ printnanny_profile_dir }}"

[api]
base_path = "{{ printnanny_api_url }}"

[janus]
admin_secret = "{{ janus_conf['janus.transport.http'].janus_admin_secret }}"
token = "{{ janus_conf['janus.transport.http'].janus_token }}"
admin_base_path = "{{ janus_conf['janus.transport.http'].admin_base_path }}"
admin_http_port = "{{ janus_conf['janus.transport.http'].admin_http_port }}"
admin_https_port = "{{ janus_conf['janus.transport.http'].admin_https_port }}"
base_path = "{{ janus_conf['janus.transport.http'].base_path }}"
http_port = "{{ janus_conf['janus.transport.http'].http_port }}"
https_port = "{{ janus_conf['janus.transport.http'].https_port }}"