name = "{{ printnanny_profile }}"
path = "{{ printnanny_profile_dir }}"

[api]
base_path = "{{ printnanny_api_url }}"

[janus]
admin_secret = "{{ janus_admin_secret }}"
token = "{{ janus_token }}"
admin_base_path = "{{ janus_conf['janus.transport.http'].admin_base_path }}"
admin_http_port = {{ janus_conf['janus.transport.http'].admin_http_port }}
admin_https_port = {{ janus_conf['janus.transport.http'].admin_https_port }}
base_path = "{{ janus_conf['janus.transport.http'].base_path }}"
http_port = {{ janus_conf['janus.transport.http'].http_port }}
https_port = {{ janus_conf['janus.transport.http'].https_port }}

[mqtt]
private_key = "{{ printnanny_ec_private_key }}"
public_key = "{{ printnanny_ec_private_key }}"
ca_certs = "{{ printnanny_cacerts }}"
{% if printnanny_ec_public_key_output is defined %}
fingerprint = "{{ printnanny_ec_public_key_output.fingerprint.md5 }}"
{% endif %}
fingerprint_algorithm = "md5"
cipher = "secp256r1"
length = 4096