# {{ ansible_managed }}
ROCKET_PORT={{ printnanny_www_port }}
ROCKET_TEMPLATE_DIR={{ printnanny_www_port }}
{% if printnanny_www_secret_key is defined %}
ROCKET_SECRET_KEY={{ printnanny_www_secret_key }}
{% endif %}