# {{ ansible_managed }}
[Unit]
Description=Print Nanny License installer
ConditionPathExists={{ printnanny_license_zip }}
After={{ ansible_updater_service }}.service
Requires={{ ansible_updater_service }}.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RuntimeDirectory={{ updater_user }}
ConfigurationDirectory={{ update_conf_dir }}
User={{ updater_user }}
ExecStartPre={{ updater.ansible_venv }}/bin/ansible-galaxy \
    collection install -r {{ updater.ansible_requirements_file }}
ExecStartPre=printnanny --version

ExecStart=/usr/bin/flock -F {{ updater.ansible_lockfile }} \
    {{ updater.ansible_venv }}/bin/ansible-playbook \
    bitsyai.printnanny.license_verify

ExecStart=/usr/bin/flock -F {{ updater.ansible_lockfile }} \
    {{ updater.ansible_venv }}/bin/ansible \
    localhost \
    -m include_role -a "name=bitsyai.printnanny.janus_gateway tasks_from=systemd"


ExecStartPost=-/usr/bin/flock -F {{ updater.ansible_lockfile }} \
    /usr/bin/rm {{ updater.ansible_lockfile }}
ExecStartPost=/bin/systemctl enable janus
ExecStartPost=/bin/systemctl start janus

RemainAfterExit=yes
Slice=ansible_pull.slice
Restart=on-failure
RestartSec=600

[Install]
WantedBy=multi-user.target