[Unit]
Description=Print Nanny Monitoring Service
Wants=network.target mqtt.service gstreamer.service janus.service
After=syslog.target mqtt.service gstreamer.service janus.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/printnanny monitor start
User={{ printnanny_user }}
ExecStartPost=/usr/local/bin/printnanny monitor stop
Restart=on-failure
RestartSec=600
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target