[Unit]
Description=Print Nanny Monitoring Service
Requires=network.target mqtt.service video-rtp.service
After=syslog.target mqtt.service video-rtp.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/printnanny monitor start
User={{ printnanny_user }}
ExecStartPost=/usr/local/bin/printnanny monitor stop
Restart=on-failure
RestartSec=600
RemainAfterExit=true

[Install]
WantedBy=multi-user.target