#!/usr/bin/env bash

export PRINTNANNY_ECDSA_PRIVATE_KEY="{{ printnanny_ecdsa_private_key }}"
export PRINTNANNY_ECDSA_PUBLIC_KEY="{{ printnanny_ecdsa_public_key }}"
export PRINTNANNY_CA_CERTS="{{ printnanny_cacerts }}"
export PRINTNANNY_PROFILE="{{ printnanny_profile }}"
export PRINTNANNY_API_BASE_PATH="{{ printnanny_api_url }}"