PRINTNANNY_ECDSA_PRIVATE_KEY={{ printnanny_ecdsa_private_key }}
PRINTNANNY_ECDSA_PUBLIC_KEY={{ printnanny_ecdsa_public_key }}
PRINTNANNY_CA_CERTS={{ printnanny_cacerts }}
PRINTNANNY_PROFILE={{ printnanny_profile }}
PRINTNANNY_API_BASE_PATH={{ printnanny_api_url }}