#!/usr/bin/env bash

export PRINTNANNY_EC_PRIVATE_KEY="{{ printnanny_ec_private_key }}"
export PRINTNANNY_EC_PUBLIC_KEY="{{ printnanny_ec_public_key }}"
export PRINTNANNY_PROFILE="{{ printnanny_profile }}"
export PRINTNANNY_API_BASE_PATH="{{ printnanny_api_url }}"
export PRINTNANNY_CONFIG="{{ printnanny_config_toml }}"