#!/usr/bin/env bash
{% if nn_edge_enabled %}
gst-launch-1.0 libcamerasrc ! capsfilter caps=video/x-raw,width={{ gstreamer_video_w }},height={{ gstreamer_video_h }},format=RGB \
    ! tee name=t \
        ! queue leaky=2 \
        ! v4l2convert \
        ! "video/x-raw,format=RGB,width={{ nn_tensor_width }},height={{ nn_tensor_height }}" \
        ! tensor_converter \
        ! tensor_transform mode=arithmetic option=typecast:uint8,add:0,div:1 \
        ! tensor_filter framework=tensorflow2-lite model={{ nn_model_file }} \
        ! tensor_decoder mode=bounding_boxes \
            option1=mobilenet-ssd-postprocess \
            option2={{ nn_label_file }} \
            option3=0:1:2:3,{{ nn_threshold }} \
            option4={{ gstreamer_video_w }}:{{ gstreamer_video_h }} \
            option5={{ nn_tensor_width }}:{{ nn_tensor_height }} \
        ! capssetter caps="video/x-raw,format=RGB,width={{ gstreamer_video_w }},height={{ gstreamer_video_h }}" \
        ! v4l2convert \
        ! v4l2h264enc extra-controls="controls,repeat_sequence_header=1" \
        ! 'video/x-h264,width={{ gstreamer_video_w }},height={{ gstreamer_video_h }},level=(string)4' \
        ! h264parse ! rtph264pay ! udpsink host={{ janus_local_rtp_domain }} port={{ janus_local_rtp_port }} \
        t. ! queue leaky=2 \
        ! v4l2convert \
        ! v4l2h264enc extra-controls="controls,repeat_sequence_header=1" \
        ! 'video/x-h264,width={{ gstreamer_video_w }},height={{ gstreamer_video_h }},level=(string)4' \
        ! h264parse ! rtph264pay ! udpsink host={{ janus_local_rtp_domain }} port={{ janus_local_rtp_port }}
{% else %}
gst-launch-1.0 libcamerasrc \
    ! capsfilter caps=video/x-raw,width=1280,height=720,format=NV12 \
    ! v4l2convert \
    ! v4l2h264enc extra-controls="controls,repeat_sequence_header=1" \
    ! 'video/x-h264,level=(string)4' \
    ! h264parse \
    ! rtph264pay \
    ! queue \
    {% if janus_cloud_enabled and janus_local_enabled %}
    ! multiudpsink clients={{ janus_local_rtp_domain }}:{{ janus_local_rtp_port }},{{ janus_cloud_rtp_domain }}:{{ janus_cloud_rtp_port }}
    {% elif janus_cloud_enabled %}
    ! udpsink host={{ janus_cloud_rtp_domain }} port={{ janus_cloud_rtp_port }}
    {% else %}
    ! udpsink host={{ janus_local_rtp_domain }} port={{ janus_local_rtp_port }}
    {% endif %}
{% endif %}