[Unit]
Description=Gstreamer RTP Camera Sink
After=network.target network-online.target
Wants=network.target network-online.target
PartOf=printnanny.target

[Service]
Type=simple
SyslogIdentifier=printnanny-monitor
User={{ printnanny_user }}
ExecStart=/usr/local/bin/printnanny-monitor
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target