name = "{{ printnanny_profile }}"
install_dir = "{{ printnanny_profile_dir }}"
runtime_dir = "{{ printnanny_runtime_dir }}"
events_socket = "{{ printnanny_runtime_dir }}/events.sock"

[ansible]
venv = "{{ printnanny_ansible_dir }}/venv"

[api]
base_path = "{{ printnanny_api_url }}"

[janus]
admin_secret = "{{ lookup('password', janus_admin_secret_file, length=32 ) }}"
token = "{{ lookup('password', janus_token_file, length=32 ) }}"
admin_base_path = "{{ janus_conf['janus.transport.http'].admin_base_path }}"
admin_http_port = {{ janus_conf['janus.transport.http'].admin_http_port }}
admin_https_port = {{ janus_conf['janus.transport.http'].admin_https_port }}
base_path = "{{ janus_conf['janus.transport.http'].base_path }}"
http_port = {{ janus_conf['janus.transport.http'].http_port }}
https_port = {{ janus_conf['janus.transport.http'].https_port }}

[mqtt]
private_key = "{{ printnanny_ec_private_key }}"
public_key = "{{ printnanny_ec_public_key }}"
ca_certs = [
    "{{ printnanny_cacerts }}/{{ gcp_lts_ca_primary | basename }}",
    "{{ printnanny_cacerts }}/{{ gcp_lts_ca_backup | basename }}"
]
fingerprint = "{{ lookup('file', printnanny_ec_fingerprint_md5) }}"
fingerprint_algorithm = "md5"
cipher = "secp256r1"
length = 4096
