[Unit]
Description=Print Nanny Metadata
After=network.target network-online.target {% for app in metadata_apps%}printnanny-metadata@{{ app }}.service {% endfor %}
Wants=network.target network-online.target {% for app in metadata_apps%}printnanny-metadata@{{ app }}.service {% endfor %}

[Install]
WantedBy=multi-user.target