# {{ ansible_managed }}
[Unit]
Description=PrintNanny Metadata Service
After=network.target network-online.target printnanny-firstboot.service printnanny-ansible-collection.service
Wants=network.service network-online.target printnanny-firstboot.service printnanny-ansible-collection.service

[Service]
Type=oneshot
SyslogIdentifier=printnanny-metadata
RuntimeDirectory={{ printnanny_user }}
RuntimeDirectoryPreserve=yes
ConfigurationDirectory={{ printnanny_user }}
ExecStart=/usr/bin/flock --verbose -n {{ ansible_lockfile }} \
    {{ updater_venv }}/bin/ansible-playbook \
    {% if printnanny_loglevel == 'info' %}
    -vv \
    {% elif printnanny_loglevel == 'debug' %}
    -vvv \
    {% else %}
    -v \
    {% endif %}
    bitsyai.printnanny.metadata \
    --tags "metadata"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target