#!/usr/bin/env bash

set -x

systemctl stop printnanny-setup.target
systemctl stop printnanny.target


{{ updater_venv }}/bin/ansible printnanny \
    -m ansible.builtin.set_fact -a "printnanny_profile=$1 cacheable=true"

systemctl start printnanny-setup.target
systemctl start printnanny.target