# {{ ansible_managed }}
[Unit]
Description=Print Nanny Metadata Service
After=network.target network-online.target ansible-collection.service
Wants=network.service network-online.target ansible-collection.service

[Service]
Type=oneshot
SyslogIdentifier=printnanny-metadata
RuntimeDirectory={{ printnanny_user }}
RuntimeDirectoryPreserve=yes
ConfigurationDirectory={{ printnanny_user }}
ExecStart={{ updater_venv }}/bin/ansible-playbook \
    bitsyai.rpi.printnanny.metadata --tags metadata
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target