# {{ ansible_managed }}
[Unit]
Description=Print Nanny Metadata Service for %i
After=network.target network-online.target ansible-collection.service
Wants=network.service network-online.target ansible-collection.service
PartOf=printnanny-metadata.target

[Service]
Type=oneshot
RuntimeDirectory={{ printnanny_user }}
RuntimeDirectoryPreserve=yes
ConfigurationDirectory={{ printnanny_user }}
ExecStart={{ updater_venv }}/bin/ansible-playbook \
    bitsyai.rpi.printnanny.metadata.%i --tags metadata
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target