#!/usr/bin/env bash

set +x\

echo "Stopping printnany-metadata.service"
systemctl stop printnanny-metadata.service
echo "Stopping printnanny-update.service"
systemctl stop printnanny-update.service
echo "Stopping printnanny-dash.service"
systemctl stop printnanny-dash.service
echo "Stopping printnanny-events.service"
systemctl stop printnanny-events.service
echo "Stopping printnanny-monitor.service"
systemctl stop printnanny-monitor.service

{{ updater_venv }}/bin/ansible printnanny \
    -m ansible.builtin.set_fact -a "printnanny_profile=$1 cacheable=true"

systemctl start printnanny-metadata
systemctl start printnanny-dash
systemctl start printnanny-monitor
systemctl start printnanny-events
