# {{ ansible_managed }}
[Unit]
Description=Create a unique device identity on first boot
After=network.target network-online.target printnanny-ansible-collection.service
Wants=network.service network-online.target printnanny-ansible-collection.service
PartOf=printnanny-setup.target

[Service]
Type=oneshot
SyslogIdentifier=printnanny-firstboot
RuntimeDirectory={{ printnanny_user }}
RuntimeDirectoryPreserve=yes
ConfigurationDirectory={{ printnanny_user }}
ExecStart=/usr/bin/flock --verbose -n {{ ansible_lockfile }} \
    {{ updater_venv }}/bin/ansible-playbook \
    {% if printnanny_loglevel == 'info' %}
    -vv \
    {% elif printnanny_loglevel == 'debug' %}
    -vvv \
    {% else %}
    -v \
    {% endif %}
    bitsyai.printnanny.metadata \
    --tags "firstboot,metadata"
Restart=on-failure
RestartSec=10
[Install]
WantedBy=multi-user.target