PRINTNANNY_EC_PRIVATE_KEY={{ printnanny_ec_private_key }}
PRINTNANNY_EC_PUBLIC_KEY={{ printnanny_ec_public_key }}
PRINTNANNY_PROFILE={{ printnanny_profile }}
PRINTNANNY_API_BASE_PATH={{ printnanny_api_url }}
PRINTNANNY_CONFIG={{ printnanny_config_toml }}
RUST_LOG="{{ printnanny_loglevel }}"
