<!DOCTYPE html>
<html>

<head>
    <title>PrintNanny OS</title>
    <style>
        html {
            color-scheme: light dark;
        }

        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Welcome to PrintNanny OS!</h1>
    <h3>Please wait while PrintNanny configures your Pi</h3>
    <p>This page will refresh automatically.</p>
    <script type="text/javascript">
        setTimeout(function () {
            location.reload();
        }, 10000);
    </script>
</body>

</html>