[Unit]
Description=nginx - high performance web server
Documentation=http://nginx.org/en/docs/
After=network.target network-online.target remote-fs.target nss-lookup.target
Wants=network.target network-online.target nss-lookup.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=forking
PIDFile=/var/run/nginx.pid
ExecStart=/usr/sbin/nginx -c /etc/nginx/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target