server {
    listen 443;
    server_name $hostname;
    ssl on;
    ssl_certificate     {{ printnanny_ssl_cert }};
    ssl_certificate_key {{ printnanny_ssl_key }};
    ssl_protocols       {{ printnanny_ssl_protocols }};
    ssl_ciphers         {{ printnanny_ssl_ciphers }}; 
    include /etc/nginx/conf.d/*.locations;

    error_log stderr;
    proxy_busy_buffers_size {{ nginx_proxy_busy_buffers_size }};
    proxy_buffers {{ nginx_proxy_buffers_num }} {{ nginx_proxy_busy_buffers_size }};
    proxy_buffer_size {{ nginx_buffer_size }};
    {% if printnanny_nginx_log is defined %}
    access_log {{ printnanny_nginx_log }};
    error_log {{ printnanny_nginx_log }}.error;
    {% endif %} 
}
server {
    listen 80;
    server_name $hostname;
    include /etc/nginx/conf.d/*.locations;
    proxy_busy_buffers_size {{ nginx_proxy_busy_buffers_size }};
    proxy_buffers {{ nginx_proxy_buffers_num }} {{ nginx_proxy_busy_buffers_size }};
    proxy_buffer_size {{ nginx_buffer_size }};
    error_log stderr;
    {% if printnanny_nginx_log is defined %}
    access_log {{ printnanny_nginx_log }};
    error_log {{ printnanny_nginx_log }}.error;
    {% endif %
}
