# {{ ansible_managed }}
[Unit]
Description=PrintNanny Update Service
After=network.target network-online.target printnanny-ansible-collection.service
Wants=network.target network-online.target printnanny-ansible-collection.service

[Service]
SyslogIdentifier=printnanny-update
Type=oneshot
RuntimeDirectory={{ printnanny_user }}
RuntimeDirectoryPreserve=yes
ConfigurationDirectory={{ printnanny_user }}
{% for playbook in updater_playbooks %}
ExecStart=/usr/bin/flock --verbose -n {{ ansible_lockfile }} \
    {{ updater_venv }}/bin/ansible-playbook \
    {% if printnanny_loglevel == 'info' %}
    -vv \
    {% elif printnanny_loglevel == 'debug' %}
    -vvv \
    {% else %}
    -v \
    {% endif %}
    --skip-tags "packer" \
    {{ playbook }}
RemainAfterExit=yes
{% endfor %}
[Install]
WantedBy=multi-user.target
