# {{ ansible_managed }}
[Unit]
Description=Janus Gateway
After=syslog.target network.target network-online.target printnanny-metadata@janus.service printnanny-metadata@env.service
Wants=syslog.target network.target network-online.target printnanny-metadata@janus.service printnanny-metadata@env.service

[Service]
Type=simple
User={{ janus_user }}
RuntimeDirectory={{ janus_user }}
LogsDirectory={{ janus_user }}
RuntimeDirectoryMode=755
EnvironmentFile=-{{ janus_env_file }}
ExecStart={{janus_install_dir}}/bin/janus \
    --configs-folder={{ janus_conf_dir }} \
    --log-file={{ janus_log_file }} \
    --pid-file={{ janus_pid_file }}

ExecStartPost=/usr/bin/sleep {{ janus_startup_delay }}
{% if janus_unit_extra is not none %}
{{ janus_unit_extra }}
{% endif %}
Restart=on-failure
RestartSec=30
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target