[Journal]
MaxFileSec={{ rpi_journald_conf.MaxFileSec }}
ForwardToSyslog={{ rpi_journald_conf.ForwardToSyslog }}
SystemMaxUse={{ rpi_journald_conf.SystemMaxUse }}
RunTimeMaxUse={{ rpi_journald_conf.RunTimeMaxUse }}